*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#container{
      height: 746px;
}

#box1{
    background:linear-gradient(purple,orange);
    float: left;
    width: 70%;
    height: 100%;
}

#text{
    color:white;
    margin: 100px 100px 100px 100px;
}

#text p{
    line-height: 1.3rem;
    margin-top: 10px;
    font-size: 18px;
}

#box2{
    float: right;
    width: 30%;
    height: 100%;
    background-color: rgb(222, 222, 198);
}

#con{
    padding: 250px 60px 250px 60px;
}

#login{
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
    
}


input[type="text"],input[type="password"]{
    padding: 10px;
    border-radius: 20px;
    width: 350px;
    height: 45px;
    border: none;
    margin-top: 10px;
}

input[type="submit"]{
    width: 10%;
    border-radius: 20px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 10px;
    width: 150px;
    background:linear-gradient(purple,orange);
    color:white;
    font-size: 20px;
    border: none;
}
 */
